minimum_pre_commit_version: "3.0.4"
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.2
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.5.0"
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-toml
      - id: check-yaml
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
  - repo: "https://github.com/pre-commit/mirrors-mypy"
    rev: "v1.13.0"
    hooks:
      - id: "mypy"
        name: "Check type hints (mypy)"
        args: 
          --ignore-missing-imports
          --explicit-package-bases
        verbose: true
